.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.954000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.951000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(85,85,85),0 0.015em rgb(85,85,85),0.015em 0 rgb(85,85,85),0 -0.015em  rgb(85,85,85);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(85,85,85);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-305.918000px;}
._4{width:30.762000px;}
._9{width:51.652000px;}
._7{width:53.369000px;}
._1{width:72.162000px;}
._8{width:136.919000px;}
._3{width:226.530000px;}
._a{width:370.139000px;}
._5{width:433.202000px;}
._6{width:782.423000px;}
._2{width:1037.842000px;}
.fc4{color:rgb(27,160,226);}
.fc5{color:rgb(0,0,255);}
.fc0{color:rgb(67,67,67);}
.fc1{color:rgb(85,85,85);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fs6{font-size:30.000000px;}
.fs4{font-size:33.000000px;}
.fs2{font-size:36.000000px;}
.fs8{font-size:39.000000px;}
.fs7{font-size:42.000000px;}
.fs3{font-size:45.000000px;}
.fs1{font-size:48.000000px;}
.fs5{font-size:54.000000px;}
.fs9{font-size:57.000000px;}
.fs0{font-size:78.000000px;}
.y0{bottom:0.000000px;}
.ya{bottom:9.940000px;}
.y9{bottom:26.770000px;}
.y28{bottom:28.390000px;}
.y8{bottom:37.570000px;}
.y7{bottom:48.370000px;}
.y6{bottom:61.910000px;}
.y4{bottom:97.460000px;}
.y5{bottom:102.040000px;}
.y3{bottom:111.490000px;}
.yb{bottom:130.420000px;}
.y3a{bottom:289.680000px;}
.y27{bottom:302.000000px;}
.y39{bottom:305.430000px;}
.y26{bottom:344.100000px;}
.y25{bottom:344.140000px;}
.y37{bottom:347.400000px;}
.y36{bottom:364.800000px;}
.y24{bottom:368.370000px;}
.y23{bottom:368.400000px;}
.y35{bottom:382.200000px;}
.y22{bottom:393.980000px;}
.y34{bottom:399.600000px;}
.y20{bottom:400.170000px;}
.y21{bottom:406.240000px;}
.y33{bottom:417.000000px;}
.y32{bottom:434.400000px;}
.y38{bottom:453.600000px;}
.y1f{bottom:457.960000px;}
.y1c{bottom:464.780000px;}
.y1a{bottom:469.840000px;}
.y1e{bottom:471.610000px;}
.y1b{bottom:478.430000px;}
.y1d{bottom:485.250000px;}
.y31{bottom:513.970000px;}
.y16{bottom:529.690000px;}
.y10{bottom:532.540000px;}
.y14{bottom:539.670000px;}
.y15{bottom:542.330000px;}
.y30{bottom:545.740000px;}
.yf{bottom:555.680000px;}
.y19{bottom:560.890000px;}
.y2f{bottom:563.470000px;}
.y13{bottom:574.390000px;}
.y18{bottom:576.340000px;}
.y11{bottom:584.370000px;}
.y12{bottom:587.030000px;}
.y17{bottom:590.410000px;}
.yd{bottom:608.590000px;}
.ye{bottom:609.640000px;}
.y2d{bottom:620.210000px;}
.yc{bottom:622.660000px;}
.y2e{bottom:623.960000px;}
.y2b{bottom:651.940000px;}
.y2c{bottom:655.690000px;}
.y2a{bottom:681.370000px;}
.y29{bottom:714.900000px;}
.y2{bottom:781.090000px;}
.y1{bottom:794.470000px;}
.ha{height:22.320000px;}
.h6{height:24.552000px;}
.h8{height:26.676000px;}
.h4{height:26.784000px;}
.hc{height:28.899000px;}
.he{height:29.016000px;}
.hb{height:31.122000px;}
.hf{height:31.248000px;}
.h5{height:33.480000px;}
.h3{height:35.712000px;}
.h7{height:40.014000px;}
.hd{height:42.408000px;}
.h2{height:58.032000px;}
.h10{height:540.000000px;}
.h9{height:640.580000px;}
.h11{height:742.610000px;}
.h0{height:841.880000px;}
.h1{height:842.000000px;}
.w2{width:569.500000px;}
.w0{width:595.280000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x12{left:18.040000px;}
.x14{left:23.630000px;}
.x1{left:26.250000px;}
.x1c{left:27.830000px;}
.x1b{left:28.990000px;}
.x5{left:30.340000px;}
.x17{left:33.940000px;}
.x18{left:39.530000px;}
.x1d{left:41.250000px;}
.x1e{left:45.750000px;}
.xb{left:51.000000px;}
.x15{left:52.090000px;}
.xc{left:64.610000px;}
.x2{left:67.500000px;}
.x6{left:102.750000px;}
.x1a{left:135.000000px;}
.x8{left:161.030000px;}
.x9{left:224.780000px;}
.xd{left:235.240000px;}
.xe{left:248.850000px;}
.xf{left:287.960000px;}
.x16{left:383.060000px;}
.x10{left:416.480000px;}
.x11{left:430.090000px;}
.x19{left:446.030000px;}
.x13{left:463.580000px;}
.x7{left:470.030000px;}
.x3{left:471.300000px;}
.x4{left:475.280000px;}
.xa{left:477.530000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-407.890667pt;}
._4{width:41.016000pt;}
._9{width:68.869333pt;}
._7{width:71.158667pt;}
._1{width:96.216000pt;}
._8{width:182.558667pt;}
._3{width:302.040000pt;}
._a{width:493.518667pt;}
._5{width:577.602667pt;}
._6{width:1043.230667pt;}
._2{width:1383.789333pt;}
.fs6{font-size:40.000000pt;}
.fs4{font-size:44.000000pt;}
.fs2{font-size:48.000000pt;}
.fs8{font-size:52.000000pt;}
.fs7{font-size:56.000000pt;}
.fs3{font-size:60.000000pt;}
.fs1{font-size:64.000000pt;}
.fs5{font-size:72.000000pt;}
.fs9{font-size:76.000000pt;}
.fs0{font-size:104.000000pt;}
.y0{bottom:0.000000pt;}
.ya{bottom:13.253333pt;}
.y9{bottom:35.693333pt;}
.y28{bottom:37.853333pt;}
.y8{bottom:50.093333pt;}
.y7{bottom:64.493333pt;}
.y6{bottom:82.546667pt;}
.y4{bottom:129.946667pt;}
.y5{bottom:136.053333pt;}
.y3{bottom:148.653333pt;}
.yb{bottom:173.893333pt;}
.y3a{bottom:386.240000pt;}
.y27{bottom:402.666667pt;}
.y39{bottom:407.240000pt;}
.y26{bottom:458.800000pt;}
.y25{bottom:458.853333pt;}
.y37{bottom:463.200000pt;}
.y36{bottom:486.400000pt;}
.y24{bottom:491.160000pt;}
.y23{bottom:491.200000pt;}
.y35{bottom:509.600000pt;}
.y22{bottom:525.306667pt;}
.y34{bottom:532.800000pt;}
.y20{bottom:533.560000pt;}
.y21{bottom:541.653333pt;}
.y33{bottom:556.000000pt;}
.y32{bottom:579.200000pt;}
.y38{bottom:604.800000pt;}
.y1f{bottom:610.613333pt;}
.y1c{bottom:619.706667pt;}
.y1a{bottom:626.453333pt;}
.y1e{bottom:628.813333pt;}
.y1b{bottom:637.906667pt;}
.y1d{bottom:647.000000pt;}
.y31{bottom:685.293333pt;}
.y16{bottom:706.253333pt;}
.y10{bottom:710.053333pt;}
.y14{bottom:719.560000pt;}
.y15{bottom:723.106667pt;}
.y30{bottom:727.653333pt;}
.yf{bottom:740.906667pt;}
.y19{bottom:747.853333pt;}
.y2f{bottom:751.293333pt;}
.y13{bottom:765.853333pt;}
.y18{bottom:768.453333pt;}
.y11{bottom:779.160000pt;}
.y12{bottom:782.706667pt;}
.y17{bottom:787.213333pt;}
.yd{bottom:811.453333pt;}
.ye{bottom:812.853333pt;}
.y2d{bottom:826.946667pt;}
.yc{bottom:830.213333pt;}
.y2e{bottom:831.946667pt;}
.y2b{bottom:869.253333pt;}
.y2c{bottom:874.253333pt;}
.y2a{bottom:908.493333pt;}
.y29{bottom:953.200000pt;}
.y2{bottom:1041.453333pt;}
.y1{bottom:1059.293333pt;}
.ha{height:29.760000pt;}
.h6{height:32.736000pt;}
.h8{height:35.568000pt;}
.h4{height:35.712000pt;}
.hc{height:38.532000pt;}
.he{height:38.688000pt;}
.hb{height:41.496000pt;}
.hf{height:41.664000pt;}
.h5{height:44.640000pt;}
.h3{height:47.616000pt;}
.h7{height:53.352000pt;}
.hd{height:56.544000pt;}
.h2{height:77.376000pt;}
.h10{height:720.000000pt;}
.h9{height:854.106667pt;}
.h11{height:990.146667pt;}
.h0{height:1122.506667pt;}
.h1{height:1122.666667pt;}
.w2{width:759.333333pt;}
.w0{width:793.706667pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x12{left:24.053333pt;}
.x14{left:31.506667pt;}
.x1{left:35.000000pt;}
.x1c{left:37.106667pt;}
.x1b{left:38.653333pt;}
.x5{left:40.453333pt;}
.x17{left:45.253333pt;}
.x18{left:52.706667pt;}
.x1d{left:55.000000pt;}
.x1e{left:61.000000pt;}
.xb{left:68.000000pt;}
.x15{left:69.453333pt;}
.xc{left:86.146667pt;}
.x2{left:90.000000pt;}
.x6{left:137.000000pt;}
.x1a{left:180.000000pt;}
.x8{left:214.706667pt;}
.x9{left:299.706667pt;}
.xd{left:313.653333pt;}
.xe{left:331.800000pt;}
.xf{left:383.946667pt;}
.x16{left:510.746667pt;}
.x10{left:555.306667pt;}
.x11{left:573.453333pt;}
.x19{left:594.706667pt;}
.x13{left:618.106667pt;}
.x7{left:626.706667pt;}
.x3{left:628.400000pt;}
.x4{left:633.706667pt;}
.xa{left:636.706667pt;}
}
